In [7]:
import pandas as pd
import numpy as np

In [9]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[ 0.38786209 -0.52831169  0.63977833  0.30578236]

<class 'pandas.core.series.Series'>
0    0.387862
1   -0.528312
2    0.639778
3    0.305782
dtype: float64

In [ ]:
s = pd.Series(data, index=index) # Basic method for making pandas.Series

The DATA parameter can be:
a list or NumPy array,
a Python dictionary, or
a single number, boolean (True/False), or string.

The INDEX parameter is optional, if we wish to include it, it must be a list of list of indices of the same length as data.

In [18]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

2023    0
2024    1
2025    2
dtype: int64

In [20]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

key_0    2
key_1    3
key_2    5
dtype: object

In [62]:
pd.Series(3.0, index = ['A', 'B', 'C'])

A    3.0
B    3.0
C    3.0
dtype: float64

In [24]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Andrea      3.637971e+42
Beth        5.052394e+31
Carolina    1.694889e+28
dtype: float64

Andrea      98
Beth        73
Carolina    65
dtype: int64

In [26]:
s > 70

Andrea       True
Beth         True
Carolina    False
dtype: bool

In [29]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
dtype: float64

In [31]:
# Check if series has NAs
s.hasnans

True

In [33]:
# Which elements in the series are NAs
s.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

In [35]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

In [36]:
# Change index
df.index = ['a','b','c']
df

   col_name_1  col_name_2
a           0         3.1
b           1         3.2
c           2         3.3

Solve the check-in exercises. We’ll present these during class.

In [39]:
s = pd.Series([-999,-999,1,2], index = ["A", "B", "C", "D"])
s

A   -999
B   -999
C      1
D      2
dtype: int64

In [48]:
s.mask(s == -999) # Replace with NaN in s where s == -999

A    NaN
B    NaN
C    1.0
D    2.0
dtype: float64

In [59]:
df.columns = ['C1', 'C2'] # Call columns, they equal this list
df

   C1   C2
a   0  3.1
b   1  3.2
c   2  3.3

Make a summary of the lesson. What are the most important concepts or ideas?

A Series is essentially a one column (One Dimensional) list(Actually an Array) with an index. A Numpy array has no index

Construct a series by giving pd.Series some values in a list [] and an optional index, default index will be 0,1,2 

Construct a Dataframe by giving pd.DataFrame a multidimensional dictionary then change column names with df.columns = ['a', 'b']

You can quickly look for adaptations to pandas series and dataframes using pandas documentation