In [7]:
import pandas as pd
import numpy as np

In [8]:
# A numpy array
arr = np.random.randn(4) # random values from std normal distribution
print(type(arr))
print(arr, "\n")

# A pandas series made from the previous array
s = pd.Series(arr)
print(type(s))
print(s)

<class 'numpy.ndarray'>
[-0.81485323  0.63848538  0.62793357 -1.25310442]

<class 'pandas.core.series.Series'>
0   -0.814853
1    0.638485
2    0.627934
3   -1.253104
dtype: float64

In [9]:
s = pd.Series(data, index=index) # Basic method for making pandas.Series

NameError: name 'data' is not defined

The DATA parameter can be:
a list or NumPy array,
a Python dictionary, or
a single number, boolean (True/False), or string.

The INDEX parameter is optional, if we wish to include it, it must be a list of list of indices of the same length as data.

In [ ]:
# A series from a numpy array 
pd.Series(np.arange(3), index=[2023, 2024, 2025])

In [ ]:
# Construct dictionary
d = {'key_0':2, 'key_1':'3', 'key_2':5}

# Initialize series using a dictionary
pd.Series(d)

In [ ]:
pd.Series(3.0, index = ['A', 'B', 'C'])

In [ ]:
# Define a series
s = pd.Series([98,73,65],index=['Andrea', 'Beth', 'Carolina'])

# Divide each element in series by 10
print(s /10, '\n')

# Take the exponential of each element in series
print(np.exp(s), '\n')

# Original series is unchanged
print(s)

In [ ]:
s > 70

In [ ]:
# Series with NAs in it
s = pd.Series([1, 2, np.nan, 4, np.nan])
s

In [ ]:
# Check if series has NAs
s.hasnans

In [ ]:
# Which elements in the series are NAs
s.isna()

In [17]:
# Initialize dictionary with columns' data 
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

# Create data frame
df = pd.DataFrame(d)
df

# Use .columns attribute
df.columns = ['C1', 'C2'] # Call columns, they equal this list
df

   C1   C2
0   0  3.1
1   1  3.2
2   2  3.3

In [ ]:
# Change index
df.index = ['a','b','c']
df

Solve the check-in exercises. Weâ€™ll present these during class.

In [28]:
s = pd.Series([-999,-999,1,2], index = ["A", "B", "C", "D"])
s

A   -999
B   -999
C      1
D      2
dtype: int64

In [39]:
s.mask(s == -999, inplace=True) # Replace with NaN in s where s == -999
s

A    NaN
B    NaN
C    1.0
D    2.0
dtype: float64

Make a summary of the lesson. What are the most important concepts or ideas?

A Series is essentially a one column (One Dimensional) list(Actually an Array) with an index. A Numpy array has no index

Construct a series by giving pd.Series some values in a list [] and an optional index, default index will be 0,1,2 

Construct a Dataframe by giving pd.DataFrame a multidimensional dictionary then change column names with df.columns = ['a', 'b']

You can quickly look for adaptations to pandas series and dataframes using pandas documentation